body {
    color: #fff;
    font-size: 16px;
    background-color: #000;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: aquamarine;
}

.announce h1 {
    font-size: 50px;
    padding: 10px;
    line-height: 1.2em;
}
.content h1 {
    line-height: 2em;
}
.image-container img {
    width: 100%;
    margin: 2em;
}
.glyph {
    margin: 30px;
}
footer {
    text-align: right;
}